:root {
  --font-color: #black;
  --bg-color: #fff;
  --slider-color: black;
}

[data-theme="dark"] {
  --font-color: white;
  --bg-color: black;
  --slider-color: white;
}

html,
body {
  margin: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;

  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "DotGothic16", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

#darkModeContainer {
  float: right;
}

h1 {
  clear: right;
  text-align: center;
  font-size: 30pt;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.parameter {
  width: 200px;
  padding-top: 5px;
  box-sizing: border-box;
}

#topContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.slider::-webkit-slider-runnable-track {
  background: var(--slider-color);
  height: 3px;
}

/******** Firefox ********/
.slider::-moz-range-track {
  background: var(--slider-color);

  height: 3px;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /*(track height in pixels/2)-(thumb height in pixels/2)
  /*(1.5)-(10)*/

  margin-top: -8.5px;
  background: var(--slider-color);

  height: 20px;
  width: 10px;
}

/***** Firefox *****/
.slider::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background: var(--slider-color);

  height: 20px;
  width: 10px;
}

#darkMode {
  font-size: 15pt;
}

#reset {
  font-size: 20pt;
}

button {
  background-color: transparent;
  font-family: "DotGothic16", sans-serif;

  font-weight: bold;
  border: none;
  color: var(--font-color);
}

#bottomContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button:hover {
  text-shadow: 0px 5px 5px lightblue;
  cursor: pointer;
  transition: text-shadow 0.2s;
}

button:active {
  color: grey;
  transform: translateY(10%);
  text-shadow: none;
}
